@import "tailwindcss";

@theme {
    --color-green-light: #54F4D0;
    --color-green-dark: #1DD2AF;
    --color-blue-atlas: #00003C;
    --color-blue-atlas-light: #000061;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
